:root {
    /* Color Scheme */
    --background:#F5F5F5;
    --main:      #3D5A80;
    --light:     #98C1D9;
    --highlight: #EE6C4D;
    --dark:      #293241;
}


.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 200px;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    
}
    .bio-text {
        font-size: 16pt;
    }

.highlight {
    color: var(--highlight);
    font-weight: bold;
}

.section {
    margin: 20px 30vw;
}

/* Card Formatting */
.card {
    box-shadow: 0 2px 4px 0 var(--dark);
    transition: .25s;
}
    .card:hover {
        box-shadow: 0 4px 8px 0 var(--dark);
        cursor: pointer;
    }
    .card-img {
        margin: 5px;
    }

    .link-img {
        margin: 0 0 0 10px;
    }

.slide {
    display: none;
}

.default-slide {
    display: block;
}

.buttons {
    align-items: center;
}

.logos {
    margin-left: auto;
    margin-right: auto;
}

.social {
    max-width: 30px;
}

.carousel {
    position: relative;
}

.carousel-btn {
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    color: #808080;
    font-size: 18pt;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    width: 50px;
    z-index: 1000;
}

.carousel-btn:hover {
    background-color: #f0f0f0;
}

.carousel-btn-prev {
    left: -70px;
}

.carousel-btn-next {
    right: -70px;
}