:root {
    /* Color Scheme */
    --background:#F5F5F5;
    --main:      #3D5A80;
    --light:     #98C1D9;
    --highlight: #EE6C4D;
    --dark:      #293241;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 200px;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    
}
    .bio-text {
        font-size: 16pt;
    }

.highlight {
    color: var(--highlight);
    font-weight: bold;
}

.section {
    margin: 20px 30vw;
}

/* Card Formatting */
.card {
    box-shadow: 0 2px 4px 0 var(--dark);
    transition: .25s;
}
    .card:hover {
        box-shadow: 0 4px 8px 0 var(--dark);
    }
    .card-img {
        margin: 5px;
    }

.slide {
    display: none;
}